<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" name="register_email" placeholder="Email..." required/>
        <input type="text" name="register_username" placeholder="Username..." required/>
        <input type="password" name="register_password" placeholder="Password..." required/>
        <button>REGISTER</button>
    </form>
</body>
</html>